body {
    background-color: black;
    font-family: 'Pixellari';
    color: White;
}
.center {
    text-align: center;
    margin-bottom: 4%;
}
.topicon {
    margin-bottom: -3px;
    height: 90px;
    margin: 2px;
    width: auto;
    transition: transform .2s ease;
}
.topicon:hover {
    transform: scale(1.04);
}
.topbar {
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: orangered;
    outline: 2px solid black;
}
.topbar .topbutton {
    font-size: 48px;
    margin: 0 auto;
    color: black;
    font-style: normal;
    display: inline;
    margin-right: 48px;
    margin-left: 48px;
    transition: transform .2s ease;
}
.topbar .topbutton:hover {
    transform: scale(1.2);
}
.buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 196px;
}
.buttoncontainer:hover {
    background-color: orange;
}
.iconcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
}
.iconcontainer:hover {
    background-color: orange;
}
a {
    text-decoration: none;
}
.bouncy {
    font-size: 40px;
    transition: transform .2s ease;
    text-decoration: none;
    color: black;
}
.bouncy:hover {
    transform: scale(1.2);
}
.para {
    font-size: 24px;
}
.photofolia {
    display: inline;
    float: center;
    width: auto;
    height: 200px;
    margin-right: 2%;
}
.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.header {
    font-family: 'Crang', sans;
    color: orangered;
    display: inline;
    text-align: center;
    font-size: 32px;
}
.title {
    margin-left: 8px;
    font-family: 'Crang';
    color: white;
    display: inline;
    text-align: center;
    font-size: 64px;
}
.online {
    margin-right: 8px;
    font-family: 'Crang', sans;
    color: black;
    display: inline;
    text-align: center;
    font-size: 32px;
}
@font-face {
    font-family: 'Crang';
    src: url('../fonts/Crang.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pixellari';
    src: url('../fonts/Pixellari.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}